/* created variables for common colors and margins */
:root {
    --darkest-color: #4c586f;
    --lightest-color: #ebeced;
    --border-color: lightblue;
    --image-text: #4c586f;
    --main-bg-color: lightgray;
    --page-margin-right: 10%;
    --main-content-width: 70%;
}

html {
    background-color: var(--lightest-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 2%;
}

/* created header with name and navigation */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--darkest-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 0 0.5% 0;
}

/* top-left my name with some spacing to the left */
.title {
    color: var(--darkest-color);
    display: flex;
    font-size: 40px;
    background-color: var(--lightest-color);
    height: 55px;
    align-items: center;
    padding-left: 5%;
    padding-right: 10px;
    border-radius: 0 5px 5px 0;
}

/* positioning nav to the right and giving it room to move */
nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: var(--page-margin-right);
    width: 50%;
    justify-content: flex-end;
}

/* added bottom underline style to each link */
nav a {
    color: var(--lightest-color);
    margin-left: 1.5%;
    font-size: 20px;
    text-decoration: none;
    padding: 0 4px 4px 4px;
    border-bottom: 4px solid var(--lightest-color);
}

/* nav links grow slightly and highlight on hover */
a:hover {
    transform: scale(1.1);
    color: lightblue;
    border-color: lightblue;
}

/* images 'highligh' on hover */
img:hover {
    opacity: 0.6;
}

/* corkboard banner as separator between nav and main content */
.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background-image: url(../img/seattle-skyline_ben-dutton.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: flex-end;
}

/* job title */
.sub-title {
    color: var(--darkest-color);
    background-color: var(--lightest-color);
    font-size: 35px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: var(--page-margin-right);
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
}

/* styling each sections header aside */
aside {
    display: flex;
    flex-direction: column;
    text-align: right;
    border-right: 3px solid var(--darkest-color);
    padding-right: 2%;
    font-size: 40px;
    color: var(--darkest-color);
    width: 20%;
    margin-top: 2%;
}

/* styling content in about me section */
#about-me-content {
    color: var(--darkest-color);
    padding-left: 2%;
    width: var(--main-content-width);
    margin-right: var(--page-margin-right);
    margin-top: 2%;
}

/* styling content in work section */
#work-content {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--image-text);
    padding-left: 2%;
    width: var(--main-content-width);
    margin-top: 2%;
    justify-content: space-between;
    margin-right: var(--page-margin-right);
}

/* container for main project image */
.main-work {
    position: relative;
    width: 100%;
}

/* styling for main project image */
.main-work-image {
    width: 100%;
    height: auto;
    border: 5px solid var(--border-color);
}

/* styling for image text box */
.main-work-image-text {
    position: absolute;
    background-color: var(--border-color);
    padding: 20px;
    align-self: flex-end;
    bottom: 40px;
}

/* giving the text some styles - inceased line height to avoid overlap */
.main-work-image-text h3 {
    font-size: 30px;
    line-height: 40px;
}

/* container for sub projects - allows for two in each row */
.sub-work {
    position: relative;
    width: 49%;
    margin-top: 2%;
}

/* styling sub project images */
.sub-work-image {
    width: 100%;
    height: auto;
    border: 5px solid var(--border-color);
}

/* styling image text for sub projects */
.sub-work-image-text {
    position: absolute;
    background-color: var(--border-color);
    padding: 10px;
    align-self: flex-end;
    bottom: 20px;
}

/* container for contact me links */
#contact-me-content {
    margin-top: 2%;
    width: var(--main-content-width);
    margin-right: var(--page-margin-right);
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* styling links to give similar effect to header links */
#contact-me-content a {
    color: darkslategray;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 4px solid darkslategray;
}
  
  /*website is optimized for screens 992px or smaller */
  @media screen and (max-width: 992px) {
    
    :root {
        --page-margin-right: 2.5%;
    }
    
    .title {
        width: 100%;
        justify-content: center;
    }
    
    nav {
      width: 100%;
      margin: 0;
      justify-content: space-between;
      padding: 2%;
    }

    nav a {
        margin-left: 0;
    }

    .banner {
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .sub-title {
        margin: 0;
        text-align: center;
    }

    main {
        justify-content: center;
    }

    aside {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-right: 0;
        border-bottom: 3px solid var(--darkest-color);
        margin-top: 1%;
        flex-direction: row;
    }

    aside h3 {
        display: inline-block;
        margin: 1%;
    }

    #about-me-content {
        width: 100%;
    }

    #work-content {
        width: 100%;
    }

    .sub-work {
        width: 100%;
    }

    #contact-me-content {
        width: 100%;
    }

  }

  /*optimized for mobile devices 769px or less - just a few things needed updating to improve bottom links on the previous break*/
  @media screen and (max-width: 769px) {

    #contact-me-content a {
        padding: 4px 4px 4px 4px;
        margin: 4px; 
    }
}
