/* TODO: add comments throughout CSS */
/*TODO: refactor css to see if you can condense it*/
:root {
    --darkest-color: #4c586f;
    --lightest-color: #ebeced;
    --border-color: lightblue;
    --image-text: #4c586f;
    --main-bg-color: lightgray;
    --page-margin-right: 10%;
    --main-content-width: 70%;
}
/* TODO: increase margin-right of page to increase readibility (condense things towards center) */

html {
    background-color: var(--lightest-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 2%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--darkest-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 0 0.5% 0;
}

.title {
    color: var(--darkest-color);
    display: flex;
    font-size: 40px;
    background-color: var(--lightest-color);
    height: 55px;
    align-items: center;
    padding-left: 5%;
    padding-right: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: var(--page-margin-right);
    width: 50%;
    justify-content: flex-end;
}

nav a {
    color: var(--lightest-color);
    margin-left: 1.5%;
    font-size: 20px;
    text-decoration: none;
    padding: 0 4px 4px 4px;
    border-bottom: 4px solid var(--lightest-color);
}

a:hover {
    transform: scale(1.1);
    color: lightblue;
    border-color: lightblue;
}

img:hover {
    opacity: 0.6;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-image: url(img/cork-board.png);
    object-fit: cover;
    align-items: flex-end;
    justify-content: flex-end;
}

.sub-title {
    color: var(--darkest-color);
    background-color: var(--lightest-color);
    font-size: 35px;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: var(--page-margin-right);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: right;
    border-right: 3px solid var(--darkest-color);
    padding-right: 2%;
    font-size: 40px;
    color: var(--darkest-color);
    width: 20%;
    margin-top: 2%;
}

#about-me-content {
    color: var(--darkest-color);
    padding-left: 2%;
    width: var(--main-content-width);
    margin-right: var(--page-margin-right);
    margin-top: 2%;
}

#work-content {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--image-text);
    padding-left: 2%;
    width: var(--main-content-width);
    margin-top: 2%;
    justify-content: space-between;
    margin-right: var(--page-margin-right);
}

.main-work {
    position: relative;
    width: 100%;
}

.main-work-image {
    width: 100%;
    height: auto;
    border: 5px solid var(--border-color);
}

/* TODO: increase size of text boxes */
.main-work-image-text {
    position: absolute;
    background-color: var(--border-color);
    padding: 10px;
    align-self: flex-end;
    bottom: 20px;
}

.main-work-image-text h3 {
    font-size: 25px;
}

.sub-work {
    position: relative;
    width: 49%;
    margin-top: 2%;
}

.sub-work-image {
    width: 100%;
    height: auto;
    border: 5px solid var(--border-color);
}

.sub-work-image-text {
    position: absolute;
    background-color: var(--border-color);
    padding: 10px;
    align-self: flex-end;
    bottom: 20px;
}

#contact-me-content {
    margin-top: 2%;
    width: var(--main-content-width);
    margin-right: var(--page-margin-right);
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#contact-me-content a {
    color: darkslategray;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 4px solid darkslategray;
}
  
  /*website is optimized for screens 768px or smaller */
  @media screen and (max-width: 768px) {
    
    .title {
        width: 100%;
        justify-content: center;
    }
    
    nav {
      width: 100%;
      margin: 0;
      justify-content: space-between;
      padding: 2%;
    }

    nav a {
        margin-left: 0;
    }

    .banner {
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .sub-title {
        margin: 0;
    }

    main {
        justify-content: center;
    }

    aside {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-right: 0;
        border-bottom: 3px solid var(--darkest-color);
        margin-top: 1%;
        flex-direction: row;
    }

    aside h3 {
        display: inline-block;
        margin: 1%;
    }

    #about-me-content {
        width: 90%;
    }

    #work-content {
        width: 90%;
    }

    .sub-work {
        width: 100%;
    }

    #contact-me-content {
        width: 100%;
    }

  }
