:root {
    --head-foot: darkslategray;
    --main-bg-color: lightgray;
}

html {
    background-color: var(--main-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    border: 3px solid red;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--head-foot);
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: darkslategray;
    display: flex;
    font-size: 40px;
    background-color: lightblue;
    height: 55px;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}

.banner {
    display: flex;
    flex-direction: row;
}

nav {
    padding-right: 20px;
}

nav a {
    color: lightblue;
    margin-left: 10px;
    font-size: ;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: darkturquoise;
    align-items: flex-end;
    justify-content: flex-end;
}

.sub-title {
    color: darkslategray;
    background-color: lightblue;
    font-size: 35px;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: right;
    border-right: 3px solid darkslategray;
    padding-right: 10px;
    font-size: 40px;
    color: darkslategray;
    width: 15%;
    margin-top: 20px;
}

#about-me-content {
    color: darkslategray;
    padding-left: 10px;
    width: 75%;
    margin-right: 20px;
    margin-top: 20px;
}

#work-content {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    color: darkslategray;
    padding-left: 10px;
    width: 75%;
    margin-right: 20px;
    margin-top: 20px;
}

.main-work {
    position: relative;
    width: 100%;
}

.main-work-image {
    width: 100%;
    height: auto;
    border: 5px solid lightblue;
}

.main-work-image-text {
    position: absolute;
    background-color: lightblue;
    padding: 10px;
    align-self: flex-end;
    bottom: 20px;
}

.main-work-image-text h3 {
    font-size: 25px;
}

.sub-work {
    width: 45%;
    margin-top: 10px;
}

.sub-work-image {
    width: 100%;
    height: auto;
    border: 5px solid lightblue;
}

.sub-work-image-text {
    position: absolute;
    background-color: lightblue;
    padding: 10px;
    align-self: flex-end;
    bottom: 20px;
}